/* Mobile devices (Portrait & Landscape) */
@media only screen and (max-width: 767px) {
      nav{
        display: block;
        text-align: center;
      }
      nav ul {
        display: flex;
        justify-content: center;
      
       }
       .banner {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
       }
       .banner-content {
        text-align: center;
       }
       .banner-content button{
          position: relative;
          left: 130px;
       }
       nav ul li a  {
        font-weight: 400;
       }
        .banner-content h1{
        font-size: 25px;
       }
       .banner-img {
        justify-content: center;
       }
       .sponsar{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
       }
       .sponsar img{
        width: 40%;
        margin: auto;
       }
       .popularCollectionCardContainer {
        grid-template-columns: repeat(1, 1fr);
       }
       .Featured{
        display: block;
       }
  }
  
  /* Tablet devices */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Tablet styles go here */
  }
  